* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/double-bubble.png);
    font-size: 15px;
    color: black
}

nav {
    background-color: #DDC5C1;
    height: 70px;
    width: 100%;
    margin-bottom: 100px;
    padding: 20px 60px 20px 60px;
    box-shadow: 10px 10px 10px #888888;
    font-size: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    float: right;
}

li a {
    color: white;
    text-decoration: none;
}

img {
    height: 25%;
    width: 25%;
    border-radius: 50%;
    box-shadow: 10px 10px 10px grey;
    float: left;
    margin-top: 10px;
    margin-left: 320px;
    margin-right: 18px;
}

h2 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
}

.imgContentDiv {
    width: 960px;
    align-items: center;
}

.content {
    margin: 45px 300px 45px 300px;
    padding: 15px 20px 15px 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 10px #888888;
    text-align: left;
    background-color: #DDC5C1;
    line-height: 1.5;
    width: 65%;
}

footer {
    background-color: #DDC5C1;
    height: 70px;
    width: 100%;
    margin-top: 120px;
    padding: 20px 60px 20px 60px;
    box-shadow: 0px 5px 10px 10px #888888;
    font-size: 30px;
}